* {
	box-sizing: border-box;
  }

body {
	font-family: Roboto, bold;
	color: #a4a9ac;
}

#Hero {
	background-image: url('../Images/skydiving photo.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

#Hero .content-wrapper {
	margin-top: -200px;
}

.navbar {
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}

.navbar-toggler {
	color: #64AFDD;
}

.navbar-brand img {
	width: 100px;
	height: auto;
}

.nav-item {
	padding: .2rem;
	justify-content: center;
}

.navbar-nav {
	text-align: right;
}

.nav-link.active,
.nav-link:hover {
	color: #64AFDD;
}

.navbar {
	font-size: 1.15rem;
	font-weight: 800;
}

form {
	display: flex;
	justify-content: flex-end;
}

.mobile-btn {
	width: fit-content;
}
.desktop-btn {
	display: none;
}

button[type="submit"] {
	text-indent: 100%;
	overflow: hidden;
	width: 40px;
	padding: 0;
	margin: 0;
	border: 1px solid transparent;
	border-radius: inherit;
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
	cursor: pointer;
	opacity: 0.7;
  }
  /* ^^I learnt this from this website https://nikitahl.com/search-icon-inside-input since I couldn't figure out how to make it from scratch.*/

/* Ipad */
@media (min-width: 992px) {
	.mobile-btn {
		display: none;
	}
	.desktop-btn {
		display: block;
		width: fit-content;
	}
}

/* Phone */
@media (max-width: 768px) {
	
}